html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

.menu-icon {
  position: fixed;
  display: flex;
  top: 20px;
  left: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #ffffff;
}

.sidebar {
  background-color: #ffffff;
  box-shadow: 2px 0px 10px rgba(9, 165, 219, 0.1);
  position: fixed;
  z-index: 2;
  height: 100%;
  overflow-y: auto;
  transform: translateX(-230px);
  transition: all 0.6s ease-in-out;
}

.sidebar__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.sidebar.active {
  transform: translateX(0);
}

.main {
  background-color: #f0f4f6;
}

.main__header {
  display: flex;
  background-color: #ffffff;
  height: 80px;
  padding-left: 30px;
}

.main__header-button {
  height: 80px;
  background-color: #ffffff;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1em;
  color: #9b9b9b;
  cursor: pointer;
}

.main__header-button:focus {
  color: #09a5db;
  outline: none;
  border-bottom: 3px solid #09a5db;
}

.sidebar__header {
  height: 80px;
  box-shadow: 2px 0px 10px rgba(9, 165, 219, 0.1);
}

.sidebar__header-logo {
  padding-left: 30px;
  padding-top: 28px;
}

.sidebar__user {
  padding-left: 30px;
  padding-right: 58px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__user-image {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.sidebar__user-name {
  color: #9b9b9b;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
}

.sidebar__list-item {
  display: flex;
  padding-left: 30px;
  padding-right: 58px;
  height: 80px;
  font-size: 1em;
  background-color: #ffffff;
  border: none;
  color: #7c86a2;
  cursor: pointer;
  outline: none;
}

.badge {
  background-color: #ef3b24;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  margin-left: 10px;
}

.sidebar__list-item i {
  margin-right: 10px;
}

.sidebar__list-item:after {
  content: '';
  display: block;
  width: 50%;
  position: absolute;
  left: 0;
  padding-top: 49px;
  border-bottom: 1px solid #dff7ff;
}

.sidebar__list-item:focus {
  color: #011b33;
  border-left: 5px solid #3bb75e;
}

.sidebar__button-signout {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding-left: 30px;
  padding-right: 58px;
  height: 80px;
  font-size: 1em;
  background-color: #fafafa;
  width: 100%;
  border: none;
  color: #7c86a2;
  cursor: pointer;
  outline: none;
}

.sidebar__button-signout:hover {
  color: #011b33;
}

.sidebar__button-signout i {
  margin-right: 10px;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  margin: 30px;
}

.card {
  background-color: #ffffff;
  border-radius: 5px;
}

.card__header {
  height: 74px;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-info__box {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

::placeholder {
  color: #09a5db;
}

.account-info__form {
  display: flex;
  flex-direction: column;
}

.account-info__form-general {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.account-info__form-password {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.account-info__form-input {
  height: 50px;
  border: 1px solid #09a5db;
  border-radius: 5px;
  padding-left: 15px;
  background-color: #f6fcff;
}

.account-info__form-input:focus {
  background-color: #ffffff;
  outline: none;
}

.account-info__form-input:focus::placeholder {
  color: #000000;
}

#email-address {
  grid-column: 1/3;
}

#phone-number {
  grid-column: 1/3;
}

.submit-button {
  border: 1px solid #2c8846;
  border-radius: 5px;
  background-color: rgb(59, 183, 94);
  color: #ffffff;
  height: 50px;
  width: 175px;
  outline: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgba(59, 183, 94, 0.9);
}

.profile-photo {
  height: 396px;
}

.profile-photo__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  height: 249px;
}

.profile-photo__box-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid #006cb3;
  border-radius: 50%;
  background-color: #09a5db;
  color: #ffffff;
}

/* for non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidebar */
  .grid-container {
    grid-template-columns: 230px 1fr;
  }

  .main__header {
    padding-left: 0;
  }

  .sidebar {
    position: relative;
    transform: translateX(0);
  }

  .sidebar__close-icon {
    visibility: hidden;
  }
}

@media only screen and (max-width: 500px) {
  .account-info__form-general {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .main_container {
    margin: 0;
  }
}
